<h1>Movies</h1>

<% @movies.each do |movie| %>

	<article>
		<header>
			<h2><strong><%= movie.title %></strong></h2>
		</header>
		<p>
			<%= movie.description %>
		</p>
		<table>
			<tr>
				<th>Rating:</th>
				<td><%= movie.rating %></td>
			</tr>
			<tr>
				<th>Release Date:</th>
				<td><%= movie.released_on %></td>
			</tr>
			<tr>
				<th>Total Gross:</th>
				<td><%= number_to_currency(movie.total_gross) %></td>
			</tr>
		</table>
	</article>

<% end %>

